# Site wide configuration

title:            andywon.nyc
locale:           en_US
url:              #www.andywon.nyc
url:              http://localhost:4000


# Jekyll configuration

permalink:   /:categories/:title/
markdown:    kramdown
highlighter: pygments
sass:
  sass_dir: _sass
  style: compressed
gems:
  - jekyll-sitemap

kramdown:
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  use_coderay: false


# Site owner
owner:
  name: Andy Won
  avatar: bio-photo.jpg
  bio: "Cool, calm, just like my mom"
  email: andy.won@gmail.com
  disqus-shortname: andrewwon
  twitter: andy_juan
  facebook: #username
  google:
    plus: #username
    analytics: UA-57622769-1
    verify: 
    ad-client: 
    ad-slot: 
 
  bing-verify: 
  github: superfuji57
  stackoverflow: #http://stackoverflow.com/users/123456/username
  linkedin: andy-won
  instagram: andy_juan
  lastfm: #username
 
  tumblr: #username
  pinterest: #username
  foursquare: andy_juan
  steam: #username
  dribbble: #username
  youtube: #username
  soundcloud: #username
  weibo: #username
  flickr: #username

include: [".htaccess"]
exclude: ["lib", "config.rb", "Capfile", "config", "log", "Rakefile", "Rakefile.rb", "tmp", "less", "*.sublime-project", "*.sublime-workspace", "test", "spec", "Gruntfile.js", "package.json", "node_modules", "Gemfile", "Gemfile.lock", "LICENSE", "README.md"]
