<! -- sidebar.html -->

<header class="sidebar-header" role="banner">
	<a href="{{ site.BASE_PATH }}/">
		<h1><a href="/">andywon.nyc</a></h1>
	</a>
	<h3 class="title">
        <a href="{{ site.BASE_PATH }}/">{{ site.title }}</a>
    </h3>
</header>

{% if site.author.bio %}
<div id="bio" class="text-center">
	{{ site.author.bio }}
</div>
{% endif %}

<div id="contact-list" class="text-left">
	<ul class="list-unstyled list-inline">
		{% if site.author.github %}
		<h3>
			<a href="https://github.com/{{ site.author.github }}">
				<i class="fa fa-github-alt fa-lg"></i> Github
			</a>
		</h3>
		{% endif %}
		{% if site.author.twitter %}
		<p>
			<a  href="https://twitter.com/{{ site.author.twitter }}">
			<h3>
				<i class="fa fa-twitter fa-lg"></i> Twitter
			</h3> 
			</a>
		</p>
		{% endif %}
		{% if site.author.linkedin %}
		<h3>
			<a href="https://linkedin.com/pub/{{ site.author.linkedin }}">
				<i class="fa fa-linkedin fa-lg"></i> LinkedIn	
		</h3>
		{% endif %}
		<li>
		{% if site.author.email %}
		<h3>
			<a href="mailto:{{ site.author.email }}">
			<i class="fa fa-envelope fa-lg"></i> Email
			</h3>
		{% endif %}
	</ul>
	</div>
<! -- sidebar.html end -->
